body{
    font-family: sans-serif;
    font-weight: bold;
}

h3{
    font-size: 30px;
    margin-bottom: 50px;
}
#time{
    font-size: 50px;
}

button{
    font-size: 20px;
    border-radius: 5px;
    padding: 20px;
    margin: 50px 5px 0 0;
}

button:hover{
    cursor: pointer;
    opacity: 0.5;
}